.mat-chip{
    border: 1px solid get-colors-map("divider") ;
    &.mat-standard-chip{
        border-radius:0 ;
    }
    .mat-ripple-element{
        display: none;
    }
    .mat-chip-remove{
        font-size: 95%;
        line-height: 140%;
    }
    &:focus{
        color: get-theme-color($theme-colors-primary,'base',false);
    }
}