
a {
    color: $link-color;
    text-decoration: $link-decoration;
    background-color: transparent; // Remove the gray background on active links in IE 10.
  
    @include hover() {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
  }

  
  a:not([href]) {
    color: inherit;
    text-decoration: none;
  
    @include hover() {
      color: inherit;
      text-decoration: none;
    }
  }