.mat-checkbox {
  .mat-checkbox-layout {
    .mat-checkbox-frame {
      border: $checkbox-border-width solid $checkbox-color;
    }
    .mat-checkbox-checkmark {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      width: 100%;
      fill: color-yiq($checkbox-color, $dark: $yiq-text-dark, $light: $yiq-text-light);
      .mat-checkbox-checkmark-path {
        stroke: color-yiq($checkbox-color, $dark: $yiq-text-dark, $light: $yiq-text-light);
      }
    }
    .mat-checkbox-mixedmark {
      background-color: color-yiq($checkbox-color, $dark: $yiq-text-dark, $light: $yiq-text-light);
      .mat-checkbox-checkmark-path {
        stroke: color-yiq($checkbox-color, $dark: $yiq-text-dark, $light: $yiq-text-light);
      }
    }
  }
  &.mat-checkbox-checked {
    .mat-checkbox-background {
      background-color: $checkbox-color;
    }
    .mat-checkbox-checkmark {
      opacity: 1;
    }
  }
  &.mat-checkbox-indeterminate {
    .mat-checkbox-background {
      background-color: $checkbox-color;
    }
  }

  &.cdk-focused {
    &.mat-checkbox-checked .mat-checkbox-background {
      background-color: scale-color($checkbox-color, $lightness: -30%);
    }
    .mat-checkbox-frame {
      border-color: scale-color($checkbox-color, $lightness: -30%);
    }
  }
}

// non-material checkbox
.aac-checkbox-label {
  position: relative;
  overflow: hidden;
  padding-left: 1.25rem;
  margin-bottom: 0;
  line-height: 1.5rem;

  .ace-field-input {
    position: absolute;
    left: -2rem;
  }

  &:before {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    border: $checkbox-border-width solid $checkbox-color;
    left: 0;
    top: 0;
    line-height: 1.5rem;
    border-radius: 2px;
    @include transform(translateY(0.25rem));
  }

  &.input-checked {
    &::before {
      background-color: $checkbox-color;
    }
    &:after {
      position: absolute;
      content: "";
      height: 0.3rem;
      width: 0.6rem;
      border-left: 0.125rem solid color-yiq($checkbox-color, $dark: $yiq-text-dark, $light: $yiq-text-light);
      border-bottom: 0.125rem solid color-yiq($checkbox-color, $dark: $yiq-text-dark, $light: $yiq-text-light);
      @include transform(rotate(-45deg));
      left: 0.2rem;
      top: 0.55rem;
    }
  }

  &:focus-within {
    &:before {
      border-color: scale-color($checkbox-color, $lightness: -30%);
    }
    &.input-checked {
      &:before {    
        background-color: scale-color($checkbox-color, $lightness: -30%);
      }
    }
  }
}
// checkbox end
