
$theme-colors-primary: (
  "light": #abb2d8,
  "base": #3f51b5,
  "dark": #132691,
  contrast: (
    "light": #000000,
    "base": #ffffff,
    "dark": #ffffff
  )
);

$theme-colors-accent: (
  "light": #d8b6c1,
  "base": #ff4081,
  "dark": #ca104e,
  contrast: (
    "light": #000000,
    "base": #000000,
    "dark": #ffffff
  )
);

$theme-colors-error: (
  "light": #ffcdd2,
  "base": #f44336,
  "dark": #b71c1c,
  contrast: (
    "light": #000000,
    "base": #ffffff,
    "dark": #ffffff
  )
);

$colors-map: (
  "background": #fff,
  "forground":#000,
  "divider": #d4d4d4,
  "disabledText":#969696,
  "border":#a8a7a7,
  "bgHighlight":#f5f5f5,
  dark: (
    "background": #000,
    "forground":#FFF,
    "divider": #bdbdbd,
    "disabledText":#b6b6b6,
    "border":#e2e2e2,
    "bgHighlight":#616161,
  )
);

