// mat radio button
.mat-radio-button {
    .mat-radio-label {
      .mat-radio-container {
        .mat-radio-outer-circle {
          border-width: $radio-border-width;
          border-color: $radio-color;
        }
        .mat-radio-inner-circle {
          background-color: $radio-color;
        }
      }
    }
  
    &.cdk-focused {
      .mat-radio-label {
        .mat-radio-container {
          .mat-radio-outer-circle {
            border-color: scale-color($radio-color, $lightness: -30%);
          }
          .mat-radio-inner-circle {
            background-color: scale-color($radio-color, $lightness: -30%);
          }
        }
      }
    }
  }
  
  // normal radio buttons

.aac-radio-label {
    position: relative;
    overflow: hidden;
    padding-left: 1.25rem;
    margin-bottom: 0;
    line-height: 1.5rem;
  
    .ace-field-input {
      position: absolute;
      left: -2rem;
    }
  
    &:before {
      position: absolute;
      content: "";
      width: 1rem;
      height: 1rem;
      border: $radio-border-width solid $radio-color;
      border-radius: 50%;
      left: 0;
      top: 0;
      line-height: 1.5rem;
      @include transform(translateY(0.25rem));
    }
  
    &.input-checked {
      &:after {
        position: absolute;
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        background: $radio-color none;
        top: 0.25rem;
        border-radius: 50%;
        left: 0.25rem;
        line-height: 1.5rem;
        @include transform(translateY(0.25rem));
      }
    }
  
    &:focus-within {
      &:before {
        border-color:scale-color($radio-color, $lightness: -30%);
      }
      &:after {
        background-color:scale-color($radio-color, $lightness: -30%);
      }
    }
  }
  // radio buttons end