@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html > body {
  font-family: 'Roboto', sans-serif;

}








// Table
.mat-table {
  & > .mat-header-row {
    & > .mat-header-cell {
      font-weight: 600;
      
    }
  }
}
