@import url("https://fonts.googleapis.com/css?family=Exo+2&display=swap");
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Great+Vibes&display=swap');

html > body {
  font-family: "Exo 2", sans-serif;
  // font-family: 'Amatic SC', cursive;
  // font-family: 'Great Vibes', cursive;
}








// Table
.mat-table {
  & > .mat-header-row {
    & > .mat-header-cell {
      font-weight: 600;
      
    }
  }
}
