@import "node_modules/@angular/material/theming";

// Be sure that you only ever include this mixin once!
// @include mat-core();

$mat-var-primary: mat-palette($mat-indigo);
$mat-var-accent: mat-palette($mat-pink, A200, A100, A400);
$mat-var-theme: mat-light-theme($mat-var-primary, $mat-var-accent);
@include cdk-overlay();
@include mat-dialog-theme($mat-var-theme);
