/**
 * Applies styles for users in high contrast mode. Note that this only applies
 * to Microsoft browsers. Chrome can be included by checking for the `html[hc]`
 * attribute, however Chrome handles high contrast differently.
 * @param target Which kind of high contrast setting to target. Defaults to `active`, can be
 *    `white-on-black` or `black-on-white`.
 */
/* Theme for the ripple elements.*/
/* stylelint-disable material/no-prefixes */
/* stylelint-enable */
@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");
.cdk-overlay-container, .cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}

.cdk-overlay-container:empty {
  display: none;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
}

@media screen and (-ms-high-contrast: active) {
  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0.6;
  }
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.32);
}

.cdk-overlay-transparent-backdrop, .cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0;
}

.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
}

.cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

.mat-dialog-container {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  background: white;
  color: rgba(0, 0, 0, 0.87);
}

html > body {
  font-family: 'Abel', sans-serif;
}

.mat-table > .mat-header-row > .mat-header-cell {
  font-weight: 600;
}

.ace-theme,
.cdk-overlay-container {
  /*
   ALL FIELD TYPES COMMON STYLE STARTS
*/
  /*
   ALL FIELD TYPES COMMON STYLE ENDS
*/
  /*
   ALL FIELD ERROR STATE STYLE STARTS
*/
  /*
   ALL FIELD ERROR STATE STYLE ENDS
*/
}

.ace-theme aac-activity-history .date-style,
.cdk-overlay-container aac-activity-history .date-style {
  color: #002F53;
}

.ace-theme aac-activity-history .time-line-container:before,
.cdk-overlay-container aac-activity-history .time-line-container:before {
  border-right: 4px solid #002F53;
}

.ace-theme aac-activity-history .timeline-divider,
.cdk-overlay-container aac-activity-history .timeline-divider {
  border: 7px solid #002F53;
}

.ace-theme aac-activity-history .timeline-icon,
.cdk-overlay-container aac-activity-history .timeline-icon {
  border: 1px solid #002F53;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.ace-theme aac-activity-history .timeline-icon .icon-elem,
.cdk-overlay-container aac-activity-history .timeline-icon .icon-elem {
  border-radius: 50%;
  margin-top: 3px;
}

.ace-theme aac-activity-history .timeline-image,
.cdk-overlay-container aac-activity-history .timeline-image {
  box-shadow: 1px 1px 1px 0px #002F53;
}

.ace-theme .mat-autocomplete-panel,
.cdk-overlay-container .mat-autocomplete-panel {
  background: #fff none;
  border-left: 1px solid #002F53;
  border-right: 1px solid #002F53;
}

.ace-theme .mat-autocomplete-panel .mat-option,
.cdk-overlay-container .mat-autocomplete-panel .mat-option {
  border-bottom: 1px solid #002F53;
  height: auto;
  line-height: inherit;
  padding: 2px 5px;
}

.ace-theme .mat-autocomplete-panel .mat-option.mat-active,
.cdk-overlay-container .mat-autocomplete-panel .mat-option.mat-active {
  color: #002F53;
}

.ace-theme .mat-chip,
.cdk-overlay-container .mat-chip {
  border: 1px solid #d4d4d4;
}

.ace-theme .mat-chip.mat-standard-chip,
.cdk-overlay-container .mat-chip.mat-standard-chip {
  border-radius: 0;
}

.ace-theme .mat-chip .mat-ripple-element,
.cdk-overlay-container .mat-chip .mat-ripple-element {
  display: none;
}

.ace-theme .mat-chip .mat-chip-remove,
.cdk-overlay-container .mat-chip .mat-chip-remove {
  font-size: 95%;
  line-height: 140%;
}

.ace-theme .mat-chip:focus,
.cdk-overlay-container .mat-chip:focus {
  color: #002F53;
}

.ace-theme .ace-field-input,
.cdk-overlay-container .ace-field-input {
  border-radius: 0;
  border-color: #a8a7a7;
}

.ace-theme .ace-field-input:focus,
.cdk-overlay-container .ace-field-input:focus {
  border: 1px solid #002F53;
  box-shadow: none;
}

.ace-theme .ace-field-select,
.cdk-overlay-container .ace-field-select {
  border-radius: 0;
  border-color: #a8a7a7;
}

.ace-theme .ace-field-select:focus,
.cdk-overlay-container .ace-field-select:focus {
  border: 1px solid #002F53;
  box-shadow: none;
}

.ace-theme .ace-field-textarea,
.cdk-overlay-container .ace-field-textarea {
  border-radius: 0;
  border-color: #a8a7a7;
}

.ace-theme .ace-field-textarea:focus,
.cdk-overlay-container .ace-field-textarea:focus {
  border: 1px solid #002F53;
  box-shadow: none;
}

.ace-theme .aac-radio-label,
.cdk-overlay-container .aac-radio-label {
  position: relative;
  overflow: hidden;
  padding-left: 1.25rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}

.ace-theme .aac-radio-label .ace-field-input,
.cdk-overlay-container .aac-radio-label .ace-field-input {
  position: absolute;
  left: -2rem;
}

.ace-theme .aac-radio-label:before,
.cdk-overlay-container .aac-radio-label:before {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  border: 1px solid #002F53;
  border-radius: 50%;
  left: 0;
  top: 0;
  line-height: 1.5rem;
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
}

.ace-theme .aac-radio-label.input-checked:after,
.cdk-overlay-container .aac-radio-label.input-checked:after {
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background: #002F53 none;
  top: 0.25rem;
  border-radius: 50%;
  left: 0.25rem;
  line-height: 1.5rem;
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
}

.ace-theme .aac-radio-label:focus-within:before,
.cdk-overlay-container .aac-radio-label:focus-within:before {
  box-shadow: inset 0 0 0 1px #001525;
}

.ace-theme .aac-checkbox-label,
.cdk-overlay-container .aac-checkbox-label {
  position: relative;
  overflow: hidden;
  padding-left: 1.25rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}

.ace-theme .aac-checkbox-label .ace-field-input,
.cdk-overlay-container .aac-checkbox-label .ace-field-input {
  position: absolute;
  left: -2rem;
}

.ace-theme .aac-checkbox-label:before,
.cdk-overlay-container .aac-checkbox-label:before {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  border: 1px solid #002F53;
  border-radius: 0%;
  left: 0;
  top: 0;
  line-height: 1.5rem;
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
}

.ace-theme .aac-checkbox-label.input-checked:after,
.cdk-overlay-container .aac-checkbox-label.input-checked:after {
  position: absolute;
  content: "";
  height: 0.3rem;
  width: 0.6rem;
  border-left: 0.125rem solid #002F53;
  border-bottom: 0.125rem solid #002F53;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 0.2rem;
  top: 0.55rem;
}

.ace-theme .aac-checkbox-label:focus-within:before,
.cdk-overlay-container .aac-checkbox-label:focus-within:before {
  box-shadow: inset 0 0 0 1px #001525;
}

.ace-theme .input-group.ace-hide-action-links > .custom-select,
.ace-theme .input-group.ace-hide-action-links > .form-control,
.cdk-overlay-container .input-group.ace-hide-action-links > .custom-select,
.cdk-overlay-container .input-group.ace-hide-action-links > .form-control {
  border-right: 0;
}

.ace-theme .input-group.ace-hide-action-links .input-group-append .ace-btn,
.cdk-overlay-container .input-group.ace-hide-action-links .input-group-append .ace-btn {
  border-left: 0;
}

.ace-theme .form-group.has-error,
.cdk-overlay-container .form-group.has-error {
  color: #f44336;
}

.ace-theme .form-group.has-error .form-control,
.cdk-overlay-container .form-group.has-error .form-control {
  border-color: #f44336;
}

.ace-theme .section-has-error,
.cdk-overlay-container .section-has-error {
  color: #f44336;
}

.ace-theme .mat-datepicker-content,
.cdk-overlay-container .mat-datepicker-content {
  background: #fff none;
  border: 1px solid #d4d4d4;
}

.ace-theme .mat-datepicker-content .mat-calendar-header .mat-calendar-controls button:focus,
.cdk-overlay-container .mat-datepicker-content .mat-calendar-header .mat-calendar-controls button:focus {
  outline: 5px auto #002F53;
}

.ace-theme .mat-datepicker-content .mat-calendar-header .mat-calendar-controls .mat-icon-button,
.cdk-overlay-container .mat-datepicker-content .mat-calendar-header .mat-calendar-controls .mat-icon-button {
  border-radius: 0;
}

.ace-theme .mat-datepicker-content .mat-calendar-header .mat-calendar-controls .mat-icon-button .mat-button-ripple,
.cdk-overlay-container .mat-datepicker-content .mat-calendar-header .mat-calendar-controls .mat-icon-button .mat-button-ripple {
  display: none;
}

.ace-theme .mat-datepicker-content .mat-calendar-content .mat-calendar-table .mat-calendar-body-active,
.cdk-overlay-container .mat-datepicker-content .mat-calendar-content .mat-calendar-table .mat-calendar-body-active {
  background: #818d96;
  color: #333;
}

.ace-theme .mat-datepicker-content .mat-calendar-content .mat-calendar-table .mat-calendar-body-cell-content,
.cdk-overlay-container .mat-datepicker-content .mat-calendar-content .mat-calendar-table .mat-calendar-body-cell-content {
  border-radius: 0;
}

.ace-theme .mat-datepicker-content .mat-calendar-content .mat-calendar-table .mat-calendar-body-cell-content.mat-calendar-body-selected,
.cdk-overlay-container .mat-datepicker-content .mat-calendar-content .mat-calendar-table .mat-calendar-body-cell-content.mat-calendar-body-selected {
  background: #002F53;
  color: #EEE;
}

.ace-theme .mat-dialog-container .dialog-title-container button.mat-icon-button,
.cdk-overlay-container .mat-dialog-container .dialog-title-container button.mat-icon-button {
  border-radius: 0;
  background: transparent none;
}

.ace-theme .mat-dialog-container .dialog-title-container button.mat-icon-button .mat-button-ripple,
.cdk-overlay-container .mat-dialog-container .dialog-title-container button.mat-icon-button .mat-button-ripple {
  display: none;
}

.ace-theme .mat-dialog-container .dialog-title-container button.dialog-close,
.cdk-overlay-container .mat-dialog-container .dialog-title-container button.dialog-close {
  border: 0;
}

.ace-theme .mat-dialog-container .dialog-title-container .dialog-back-button,
.cdk-overlay-container .mat-dialog-container .dialog-title-container .dialog-back-button {
  display: none;
}

.ace-theme .mat-paginator .mat-paginator-container .mat-paginator-range-actions button:not(:disabled),
.cdk-overlay-container .mat-paginator .mat-paginator-container .mat-paginator-range-actions button:not(:disabled) {
  color: #002F53;
}

.ace-theme .mat-paginator .mat-paginator-container .mat-paginator-range-actions button:disabled,
.cdk-overlay-container .mat-paginator .mat-paginator-container .mat-paginator-range-actions button:disabled {
  color: #969696;
}

.ace-theme .mat-paginator .mat-paginator-container .mat-paginator-range-actions button.mat-icon-button,
.cdk-overlay-container .mat-paginator .mat-paginator-container .mat-paginator-range-actions button.mat-icon-button {
  border-radius: 0;
  background: transparent none;
}

.ace-theme .mat-paginator .mat-paginator-container .mat-paginator-range-actions button.mat-icon-button .mat-button-ripple,
.cdk-overlay-container .mat-paginator .mat-paginator-container .mat-paginator-range-actions button.mat-icon-button .mat-button-ripple {
  display: none;
}

.ace-theme .mat-table > .mat-header-row,
.ace-theme .mat-table > .mat-row,
.cdk-overlay-container .mat-table > .mat-header-row,
.cdk-overlay-container .mat-table > .mat-row {
  border-color: #d4d4d4;
  min-height: auto;
  padding: 0;
  border-bottom: 0;
}

.ace-theme .mat-table > .mat-header-row > .mat-cell,
.ace-theme .mat-table > .mat-row > .mat-cell,
.cdk-overlay-container .mat-table > .mat-header-row > .mat-cell,
.cdk-overlay-container .mat-table > .mat-row > .mat-cell {
  padding: 5px;
  align-self: stretch;
  border-color: #818d96;
  border-style: solid;
  border-width: 0 0px 1px 0;
}

.ace-theme .mat-table > .mat-header-row > .mat-cell:first-child,
.ace-theme .mat-table > .mat-row > .mat-cell:first-child,
.cdk-overlay-container .mat-table > .mat-header-row > .mat-cell:first-child,
.cdk-overlay-container .mat-table > .mat-row > .mat-cell:first-child {
  border-left-width: 1px;
}

.ace-theme .mat-table > .mat-header-row > .mat-cell.cdk-column-actionButton,
.ace-theme .mat-table > .mat-row > .mat-cell.cdk-column-actionButton,
.cdk-overlay-container .mat-table > .mat-header-row > .mat-cell.cdk-column-actionButton,
.cdk-overlay-container .mat-table > .mat-row > .mat-cell.cdk-column-actionButton {
  justify-content: center;
}

.ace-theme .mat-table > .mat-header-row > .mat-header-cell,
.ace-theme .mat-table > .mat-row > .mat-header-cell,
.cdk-overlay-container .mat-table > .mat-header-row > .mat-header-cell,
.cdk-overlay-container .mat-table > .mat-row > .mat-header-cell {
  padding: 5px;
  align-self: stretch;
  border-color: #818d96;
  border-style: solid;
  border-width: 0 0px 1px 0;
}

.ace-theme .mat-table > .mat-header-row > .mat-header-cell:first-child,
.ace-theme .mat-table > .mat-row > .mat-header-cell:first-child,
.cdk-overlay-container .mat-table > .mat-header-row > .mat-header-cell:first-child,
.cdk-overlay-container .mat-table > .mat-row > .mat-header-cell:first-child {
  border-left-width: 1px;
}

.ace-theme .mat-table > .mat-header-row > .mat-header-cell.cdk-column-select,
.ace-theme .mat-table > .mat-row > .mat-header-cell.cdk-column-select,
.cdk-overlay-container .mat-table > .mat-header-row > .mat-header-cell.cdk-column-select,
.cdk-overlay-container .mat-table > .mat-row > .mat-header-cell.cdk-column-select {
  justify-content: flex-start;
}

.ace-theme .ace-table-striped .mat-table > .mat-row:nth-child(odd),
.cdk-overlay-container .ace-table-striped .mat-table > .mat-row:nth-child(odd) {
  background-color: #f5f5f5;
}

.ace-theme .ace-table-bordered .mat-table > .mat-header-row > .mat-header-cell,
.cdk-overlay-container .ace-table-bordered .mat-table > .mat-header-row > .mat-header-cell {
  border-right-width: 1px;
}

.ace-theme .ace-table-bordered .mat-table > .mat-header-row > .mat-header-cell:not(.cdk-column-select),
.cdk-overlay-container .ace-table-bordered .mat-table > .mat-header-row > .mat-header-cell:not(.cdk-column-select) {
  justify-content: center;
}

.ace-theme .ace-table-bordered .mat-table > .mat-row > .mat-cell,
.cdk-overlay-container .ace-table-bordered .mat-table > .mat-row > .mat-cell {
  border-right-width: 1px;
}

.ace-theme .ace-table-hover .mat-table > .mat-row:hover,
.ace-theme .ace-table-hover .mat-table > .mat-header-row:hover,
.cdk-overlay-container .ace-table-hover .mat-table > .mat-row:hover,
.cdk-overlay-container .ace-table-hover .mat-table > .mat-header-row:hover {
  background-color: #818d96;
}

.ace-theme .mat-tab-group:not(.hide-mat-tab-header) .mat-tab-header,
.cdk-overlay-container .mat-tab-group:not(.hide-mat-tab-header) .mat-tab-header {
  overflow-x: hidden;
  overflow-y: unset;
  z-index: 1;
  margin-bottom: -3px;
}

.ace-theme .mat-tab-group:not(.hide-mat-tab-header) .mat-tab-header .mat-tab-label-container .mat-tab-labels,
.cdk-overlay-container .mat-tab-group:not(.hide-mat-tab-header) .mat-tab-header .mat-tab-label-container .mat-tab-labels {
  justify-content: flex-start;
}

.ace-theme .mat-tab-group:not(.hide-mat-tab-header) .mat-tab-header .mat-tab-label-container .mat-tab-labels .mat-tab-label,
.cdk-overlay-container .mat-tab-group:not(.hide-mat-tab-header) .mat-tab-header .mat-tab-label-container .mat-tab-labels .mat-tab-label {
  border: 0;
  padding: 0;
  min-width: inherit;
  opacity: 1;
  height: 40px;
  align-items: flex-end;
}

.ace-theme .mat-tab-group:not(.hide-mat-tab-header) .mat-tab-header .mat-tab-label-container .mat-tab-labels .mat-tab-label .mat-tab-label-content,
.cdk-overlay-container .mat-tab-group:not(.hide-mat-tab-header) .mat-tab-header .mat-tab-label-container .mat-tab-labels .mat-tab-label .mat-tab-label-content {
  border: 2px solid #002F53;
  padding: 5px 20px;
  border-radius: 10px 10px 0 0;
  background-color: #002F53;
  color: #EEE;
  margin-bottom: -2px;
}

.ace-theme .mat-tab-group:not(.hide-mat-tab-header) .mat-tab-header .mat-tab-label-container .mat-tab-labels .mat-tab-label.mat-tab-label-active .mat-tab-label-content,
.cdk-overlay-container .mat-tab-group:not(.hide-mat-tab-header) .mat-tab-header .mat-tab-label-container .mat-tab-labels .mat-tab-label.mat-tab-label-active .mat-tab-label-content {
  border: 2px solid #002F53;
  border-bottom-color: #EEE;
  background-color: #EEE;
  color: #002F53;
  border-bottom: 0px;
  margin-bottom: -3px;
}

.ace-theme .mat-tab-group:not(.hide-mat-tab-header) .mat-tab-header .mat-tab-label-container .mat-tab-labels .mat-tab-label .mat-ripple-element,
.cdk-overlay-container .mat-tab-group:not(.hide-mat-tab-header) .mat-tab-header .mat-tab-label-container .mat-tab-labels .mat-tab-label .mat-ripple-element {
  display: none;
}

.ace-theme .mat-tab-group:not(.hide-mat-tab-header) .mat-tab-body-wrapper,
.cdk-overlay-container .mat-tab-group:not(.hide-mat-tab-header) .mat-tab-body-wrapper {
  border: 2px solid #002F53;
  border-radius: 0 10px 10px;
  background-color: #fff;
}

.ace-theme .mat-tab-group:not(.hide-mat-tab-header) .mat-tab-body-wrapper .mat-tab-body-content,
.cdk-overlay-container .mat-tab-group:not(.hide-mat-tab-header) .mat-tab-body-wrapper .mat-tab-body-content {
  padding: 20px;
}

.ace-theme .mat-tooltip,
.cdk-overlay-container .mat-tooltip {
  background-color: #333;
  font-size: 80%;
  margin: 0;
  max-width: 100%;
  color: #FFF;
}

.ace-theme .ace-btn,
.cdk-overlay-container .ace-btn {
  color: inherit;
  background-color: transparent;
  border: 1px solid #a8a7a7;
  border-radius: 0;
}

.ace-theme .ace-btn:disabled, .ace-theme .ace-btn.btn-outline-secondary:disabled,
.cdk-overlay-container .ace-btn:disabled,
.cdk-overlay-container .ace-btn.btn-outline-secondary:disabled {
  color: #969696;
}

.ace-theme .ace-btn:not(:disabled):not(.disabled):hover,
.cdk-overlay-container .ace-btn:not(:disabled):not(.disabled):hover {
  color: #333;
  background-color: #818d96;
  border-color: #002F53;
  outline: none;
  box-shadow: none;
}

.ace-theme .ace-btn:disabled,
.cdk-overlay-container .ace-btn:disabled {
  border-color: inherit;
}

.ace-theme .ace-btn:not(:disabled):not(.disabled):focus, .ace-theme .ace-btn:not(:disabled):not(.disabled):active:focus,
.cdk-overlay-container .ace-btn:not(:disabled):not(.disabled):focus,
.cdk-overlay-container .ace-btn:not(:disabled):not(.disabled):active:focus {
  color: #333;
  background-color: #818d96;
  border-color: #002F53;
  outline: none;
  box-shadow: none;
}

.ace-theme .ace-btn:not(:disabled):not(.disabled):active,
.cdk-overlay-container .ace-btn:not(:disabled):not(.disabled):active {
  color: #002F53;
  background-color: transparent;
  border: 1px solid #002F53;
  outline: none;
  box-shadow: none;
}

.ace-theme .ace-btn.ace-primary,
.cdk-overlay-container .ace-btn.ace-primary {
  color: #EEE;
  background-color: #002F53;
  border-color: #002F53;
}

.ace-theme .ace-btn.ace-accent,
.cdk-overlay-container .ace-btn.ace-accent {
  color: #eee;
  background-color: #2D999F;
  border-color: #2D999F;
}

.ace-theme .ace-btn.ace-accent:not(:disabled):not(.disabled):hover,
.cdk-overlay-container .ace-btn.ace-accent:not(:disabled):not(.disabled):hover {
  color: #002F53;
  background-color: #96b1b3;
  border-color: #2D999F;
  outline: none;
  box-shadow: none;
}

.ace-theme .ace-btn.ace-accent:disabled,
.cdk-overlay-container .ace-btn.ace-accent:disabled {
  border-color: inherit;
}

.ace-theme .ace-btn.ace-accent:not(:disabled):not(.disabled):focus, .ace-theme .ace-btn.ace-accent:not(:disabled):not(.disabled):active:focus,
.cdk-overlay-container .ace-btn.ace-accent:not(:disabled):not(.disabled):focus,
.cdk-overlay-container .ace-btn.ace-accent:not(:disabled):not(.disabled):active:focus {
  color: #002F53;
  background-color: #96b1b3;
  border-color: #2D999F;
  outline: none;
  box-shadow: none;
}

.ace-theme .ace-btn.ace-accent:not(:disabled):not(.disabled):active,
.cdk-overlay-container .ace-btn.ace-accent:not(:disabled):not(.disabled):active {
  color: #2D999F;
  background-color: transparent;
  border: 1px solid #2D999F;
  outline: none;
  box-shadow: none;
}

.ace-theme .ace-btn.ace-field-link-btn,
.cdk-overlay-container .ace-btn.ace-field-link-btn {
  display: none;
}

.ace-theme .mat-button .mat-button-ripple,
.ace-theme .mat-mini-fab .mat-button-ripple,
.ace-theme .mat-icon-button .mat-button-ripple,
.ace-theme .mat-raised-button .mat-button-ripple,
.cdk-overlay-container .mat-button .mat-button-ripple,
.cdk-overlay-container .mat-mini-fab .mat-button-ripple,
.cdk-overlay-container .mat-icon-button .mat-button-ripple,
.cdk-overlay-container .mat-raised-button .mat-button-ripple {
  display: none;
}

.ace-theme .mat-mini-fab .mat-button-wrapper,
.ace-theme .mat-icon-button .mat-button-wrapper,
.cdk-overlay-container .mat-mini-fab .mat-button-wrapper,
.cdk-overlay-container .mat-icon-button .mat-button-wrapper {
  padding: 7px 0;
  line-height: normal;
}

.ace-theme .mat-checkbox .mat-checkbox-layout .mat-checkbox-frame,
.cdk-overlay-container .mat-checkbox .mat-checkbox-layout .mat-checkbox-frame {
  border: 2px solid #002F53;
}

.ace-theme .mat-checkbox .mat-checkbox-layout .mat-checkbox-checkmark,
.cdk-overlay-container .mat-checkbox .mat-checkbox-layout .mat-checkbox-checkmark {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  fill: #EEE;
}

.ace-theme .mat-checkbox .mat-checkbox-layout .mat-checkbox-mixedmark,
.cdk-overlay-container .mat-checkbox .mat-checkbox-layout .mat-checkbox-mixedmark {
  background-color: #EEE;
}

.ace-theme .mat-checkbox .mat-checkbox-layout .mat-checkbox-mixedmark .mat-checkbox-checkmark-path,
.cdk-overlay-container .mat-checkbox .mat-checkbox-layout .mat-checkbox-mixedmark .mat-checkbox-checkmark-path {
  stroke: #EEE;
}

.ace-theme .mat-checkbox.mat-checkbox-checked .mat-checkbox-background,
.cdk-overlay-container .mat-checkbox.mat-checkbox-checked .mat-checkbox-background {
  background-color: #002F53;
}

.ace-theme .mat-checkbox.mat-checkbox-checked .mat-checkbox-checkmark,
.cdk-overlay-container .mat-checkbox.mat-checkbox-checked .mat-checkbox-checkmark {
  opacity: 1;
}

.ace-theme .mat-checkbox.mat-checkbox-indeterminate .mat-checkbox-background,
.cdk-overlay-container .mat-checkbox.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #002F53;
}

.ace-theme .mat-radio-button .mat-radio-label .mat-radio-container .mat-radio-outer-circle,
.cdk-overlay-container .mat-radio-button .mat-radio-label .mat-radio-container .mat-radio-outer-circle {
  border-width: 1px;
  border-color: #002F53;
}

.ace-theme .mat-radio-button .mat-radio-label .mat-radio-container .mat-radio-inner-circle,
.cdk-overlay-container .mat-radio-button .mat-radio-label .mat-radio-container .mat-radio-inner-circle {
  background-color: #002F53;
}

.ace-theme .mat-radio-button.cdk-focused .mat-radio-label .mat-radio-container .mat-radio-outer-circle,
.cdk-overlay-container .mat-radio-button.cdk-focused .mat-radio-label .mat-radio-container .mat-radio-outer-circle {
  border-width: 2px;
}

.ace-theme .mat-progress-bar,
.cdk-overlay-container .mat-progress-bar {
  margin: 5px auto;
}

.ace-theme .mat-progress-bar .mat-progress-bar-background,
.cdk-overlay-container .mat-progress-bar .mat-progress-bar-background {
  fill: #818d96;
}

.ace-theme .mat-progress-bar .mat-progress-bar-buffer,
.cdk-overlay-container .mat-progress-bar .mat-progress-bar-buffer {
  background-color: #818d96;
}

.ace-theme .mat-progress-bar .mat-progress-bar-fill::after,
.cdk-overlay-container .mat-progress-bar .mat-progress-bar-fill::after {
  background-color: #002F53;
}

.ace-list-group .ace-list-item {
  border-bottom: 1px solid #a8a7a7;
}

.ace-list-group .ace-list-item:hover {
  background-color: #f5f5f5;
}

.ace-theme a:visited, .ace-theme a:link,
.cdk-overlay-container a:visited,
.cdk-overlay-container a:link {
  color: #001525;
}

.ace-theme a:hover,
.cdk-overlay-container a:hover {
  color: #002F53;
}

.mat-divider {
  border-color: #d4d4d4;
}

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  outline: 0;
  -webkit-appearance: none;
}

.ace-bg-white {
  background-color: #fff;
}

.ace-bg-primary {
  background-color: #002F53;
}

.ace-bg-accent {
  background-color: #2D999F;
}

.ace-text-white {
  color: #fff;
}

.ace-text-primary {
  color: #002F53;
}

.ace-text-accent {
  color: #2D999F;
}

.ace-border-white {
  border-color: #fff;
}

.ace-border-primary {
  border-color: #002F53;
}

.ace-border-accent {
  border-color: #2D999F;
}

/*# sourceMappingURL=ace-theme.css.map */