.mat-radio-button {
  .mat-radio-label {
    .mat-radio-container {
      .mat-radio-outer-circle {
        border-width: 1px;
        border-color: get-theme-color($theme-colors-primary, "base", false);
      }
      .mat-radio-inner-circle {
        background-color: get-theme-color($theme-colors-primary, "base", false);
      }
    }
  }

  &.cdk-focused {
    .mat-radio-label {
      .mat-radio-container {
        .mat-radio-outer-circle {
          border-width: 2px;
        }
      }
    }
  }
}
