.mat-dialog-container {
  .dialog-title-container {
    .mat-dialog-title {
      // padding: 0;
    }
    button {
      &.mat-icon-button {
        border-radius: 0;
        background: transparent none;
        .mat-button-ripple {
          display: none;
        }
      }
      &.dialog-close{
        border: 0;
      }
    }
    .dialog-back-button {
      display: none;
    }
  }
}
