//https://codeburst.io/a-successful-sass-theme-structure-ca9d1c477dc7

$theme-colors-primary: (
  "light": #8bad8c,
  "base": #2e7d32,
  "dark": #1c4e1e,
  contrast: (
    "light":rgba(0,0,0,.87),
    "base": rgba(255,255,255,.87),
    "dark": rgba(255,255,255,.87)
  )
);

$theme-colors-accent: (
  "light": #CFD8DC,
  "base": #607D8B,
  "dark": #263238,
  contrast: (
    "light": rgba(0,0,0,.87),
    "base": rgba(255,255,255,.87),
    "dark": rgba(255,255,255,.87)
  )
);

$theme-colors-error: (
  "light": #ffcdd2,
  "base": #f44336,
  "dark": #b71c1c,
  contrast: (
    "light": #000000,
    "base": #ffffff,
    "dark": #ffffff
  )
);

$colors-map: (
  "background": #fff,
  "forground":#000,
  "divider": #d4d4d4,
  "disabledText":#969696,
  "border":#a8a7a7,
  "bgHighlight":#f5f5f5,
  dark: (
    "background": #000,
    "forground":#FFF,
    "divider": #bdbdbd,
    "disabledText":#b6b6b6,
    "border":#e2e2e2,
    "bgHighlight":#616161,
  )
);

// $theme-colors: (
//   'primary': (
//     'light': #dfc4f8,
//     'base': #902dec,
//     'dark': #8125d6
//   ),
//   'accent': (
//     'light': rgb(224, 125, 158),
//     'base': #E91E63,
//     'dark': rgb(190, 15, 73)
//   ),
//   'foreground': (
//     'light': #6e6e6e,
//     'base': #393939,
//     'dark': #111
//   ),
//   'background': (
//     'light': #fff,
//     'base': #f8f5f5,
//     'dark': #ddd
//   )
// );

// $contrast-colors: (
//   'dark': (
//     'primary': rgb(255, 255, 255),
//     'secondary': rgba(255, 255, 255, .70),
//     'disabled': rgba(255, 255, 255, .5),
//     'hint': rgba(255, 255, 255, .12)
//   ),
//   'light': (
//     'primary': rgba(0, 0, 0, .87),
//     'secondary': rgba(0, 0, 0, .54),
//     'disabled': rgba(0, 0, 0, .38),
//     'hint': rgba(0, 0, 0, .12)
//   ),
// );
