.mat-tab-group:not(.hide-mat-tab-header) {
  .mat-tab-header {
    overflow-x: hidden;
    overflow-y: unset;
    z-index: 1;
    margin-bottom: -3px;

    .mat-tab-label-container {
      // overflow: unset;
      .mat-tab-labels {
        justify-content: flex-start;

        .mat-tab-label {
          border: 0;
          padding: 0;
          min-width: inherit;
          opacity: 1;
          height: 40px;
          align-items: flex-end;

          .mat-tab-label-content {
            border: 2px solid get-theme-color($theme-colors-primary, "base", false);
            padding: 5px 20px;
            border-radius: 10px 10px 0 0;
            background-color: get-theme-color($theme-colors-primary, "base", false);
            color: get-theme-color($theme-colors-primary, "base", true);
            margin-bottom: -2px;
           
          }

          &.mat-tab-label-active {
            .mat-tab-label-content {
              border: 2px solid get-theme-color($theme-colors-primary, "base", false);
              border-bottom-color: get-theme-color($theme-colors-primary, "base", true);
              background-color: get-theme-color($theme-colors-primary, "base", true);
              color: get-theme-color($theme-colors-primary, "base", false);
              // padding: 10px 20px;
              border-bottom: 0px;
              margin-bottom: -3px;
            }
          }
          .mat-ripple-element {
            display: none;
          }
        }
      }
    }
  }

  .mat-tab-body-wrapper {
    border: 2px solid get-theme-color($theme-colors-primary, "base", false);
    border-radius: 0 10px 10px;
    background-color: get-colors-map("background");
    .mat-tab-body-content {
      padding: 20px;
    }
  }
}
