aac-activity-history {
  .date-style {
    color: get-theme-color($theme-colors-primary, "base", false);
  }

  .time-line-container:before {
    border-right: 4px solid get-theme-color($theme-colors-primary, "base", false);
  }
  .timeline-divider {
    border: 7px solid get-theme-color($theme-colors-primary, "base", false);
  }
  .timeline-icon {
    border: 1px solid get-theme-color($theme-colors-primary, "base", false);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    .icon-elem {
      border-radius: 50%;
      margin-top: 3px;
    }
  }
  .timeline-image {
    box-shadow: 1px 1px 1px 0px get-theme-color($theme-colors-primary, "base", false);
  }
}
