.mat-tooltip {
    background-color:get-theme-color($theme-colors-primary, "light", true);
    font-size: 80%;
    margin: 0;
    max-width: 100%;
    color: get-theme-color($theme-colors-primary, "dark", true)
}