@import "list-group";
@import "links";
// Dividers
.mat-divider {
  border-color: get-colors-map("divider");
}

// CDK styles
.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  outline: 0;
  -webkit-appearance: none;
}

// bg colors
.ace-bg-white {
  background-color: get-colors-map("background");
}
.ace-bg-primary {
  background-color: get-theme-color($theme-colors-primary, "base", false);
}
.ace-bg-accent {
  background-color: get-theme-color($theme-colors-accent, "base", false);
}

//Text colors
.ace-text-white {
  color: get-colors-map("background");
}
.ace-text-primary {
  color: get-theme-color($theme-colors-primary, "base", false);
}
.ace-text-accent {
  color: get-theme-color($theme-colors-accent, "base", false);
}
//border colors
.ace-border-white {
  border-color: get-colors-map("background");
}
.ace-border-primary {
  border-color: get-theme-color($theme-colors-primary, "base", false);
}
.ace-border-accent {
  border-color: get-theme-color($theme-colors-accent, "base", false);
}
