@mixin active-effect($theme) {
  &:not(:disabled):not(.disabled):active {
    color: get-theme-color($theme, "base", false);
    background-color: transparent;
    border: 1px solid get-theme-color($theme, "base", false);
    outline: none;
    box-shadow: none;
  }
}
@mixin hover-effect($theme) {
  &:not(:disabled):not(.disabled):hover {
    color: get-theme-color($theme, "light", true);
    background-color: get-theme-color($theme, "light", false);
    border-color: get-theme-color($theme, "base", false);
    outline: none;
    box-shadow: none;
  }
  &:disabled {
    border-color: inherit;
  }
}

@mixin focus-effect($theme) {
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):active:focus {
    color: get-theme-color($theme, "light", true);
    background-color: get-theme-color($theme, "light", false);
    border-color: get-theme-color($theme, "base", false);
    outline: none;
    box-shadow: none;
  }
}

.ace-btn {
  color: inherit;
  background-color: transparent;
  border: 1px solid get-colors-map("border");
  border-radius: 0;

  &:disabled,
  &.btn-outline-secondary:disabled {
    color: get-colors-map("disabledText");
  }

  @include hover-effect($theme-colors-primary);
  @include focus-effect($theme-colors-primary);
  @include active-effect($theme-colors-primary);

  &.ace-primary {
    color: get-theme-color($theme-colors-primary, "base", true);
    background-color: get-theme-color($theme-colors-primary, "base", false);
    border-color: get-theme-color($theme-colors-primary, "base", false);
  }
  &.ace-accent {
    color: get-theme-color($theme-colors-accent, "base", true);
    background-color: get-theme-color($theme-colors-accent, "base", false);
    border-color: get-theme-color($theme-colors-accent, "base", false);

    @include hover-effect($theme-colors-accent);
    @include focus-effect($theme-colors-accent);
    @include active-effect($theme-colors-accent);
  }

  //hide the link btn beside lookup email, url
  &.ace-field-link-btn {
    display: none;
  }
}

.mat-button,
.mat-mini-fab,
.mat-icon-button,
.mat-raised-button {
  .mat-button-ripple {
    display: none;
  }
}

.mat-mini-fab,
.mat-icon-button {
  .mat-button-wrapper {
    padding: 7px 0;
    line-height: normal;
  }
}
